//container of all the page content (this area normaly excludes top-navbar)
.content-full {
    position: relative;
    padding: 1rem;
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
}